@import "./variable.css";
@media only screen and (max-width: 1146px) {
    .container {
        margin: 3rem 5rem;
    }
}
@media only screen and (max-width: 992px) {
    .container {
        margin: 3rem 1.5rem;
    }
}
@media only screen and (max-width: 888px) {
    .container {
        margin: 3rem 2.5rem;
    }
    .header {
        display: block;
    }
    .header-left__texts {
        padding-bottom: 2rem;
    }
    .header-left__texts-title {
        font-size: 2.7rem;
    }
    .header-right__wrapper {
        justify-content: space-between;
        border-top: 1.5px solid var(--text-grey);
        padding-top: 2rem;
    }
    .top-cards {
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(1,1fr);
    }
    .main-cards {
        grid-template-columns: repeat(1,1fr);
    }
}