:root {
    --Lime-Green: hsl(163, 72%, 41%);
    --Bright-Red: hsl(356, 69%, 56%);
    --Facebook: hsl(208, 92%, 53%);
    --Twitter: hsl(203, 89%, 53%);
    --Instagram: linear gradient hsl(37, 97%, 70%) to hsl(329, 70%, 58%);
    --YouTube: hsl(348, 97%, 39%);
    --bg: hsl(230, 17%, 14%);
    --card-bg: hsl(228, 28%, 20%);
    --text-grey: hsl(228, 34%, 66%);
    --text-grey: hsl(228, 34%, 66%);
    --white: hsl(0, 0%, 100%);
}